@import url('https://fonts.googleapis.com/css?family=Poppins:800');

body {
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 8rem;
    position: absolute;
}

.text {
    color: #000;
    -webkit-text-stroke: 1px #fff;
}

.wave {
    color: #fff;
    animation:wave 3s ease-in-out infinite;
}

@keyframes wave {
    0%,100%{
        clip-path: polygon(0% 47%, 10% 48%, 33% 54%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }
    50% {
        clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
    }
}